<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Rodoslov</title>

        <link rel="stylesheet" type="text/css" href="../styleseats/navigation.css">

        <script src="../styleseats/treant.js"></script>

        {% block head_content %}{% endblock %}
    </head>
    <body>
        <div class="topnav">
            <a href="form.html">Stablo</a>
            <a href="#">Vremenska linija</a>
            <a href="gramatika.html">Gramatika</a>
            <a href="noviTip.html">Novi tip</a>
        </div>



        {% block body_content %}{% endblock %}

    </body>
</html>