<html>
<head><title>Forma</title> </head>
<body>
    <form action = "#">
        <fieldset>
            <legend>{{form.title}}</legend>
            {% for component in form.components %}
                {% if component.componentType is defined %}
                <label for = "{{component.name}}">{{component.label}}</label>
                <input name = "{{component.name}}" /><br/><br/>
                {% else %}
                <input type = "button" value = "{{component.label}}"/>
                {% endif %}
            {% endfor %}
        </fieldset>
    </form>
</body>
</html>