<!DOCTYPE html>
<html>
    <head>
        <title>Rodoslov</title>
        <link rel="stylesheet" type="text/css" href="Treant.css">
        <script src="Treant.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.js"
                 integrity="sha256-MPXjTSEImVJI1834JAHubdK7Lts1VTUPJmCQ9zKAjyA="
                crossorigin="anonymous"></script>
    </head>

    <body>
        <h1 align="center">{{rodoslov.title}}</h1><br/><br/>
        <div id="tree-simple" style="height: 400px; margin: 5px; width: 2000px;"> </div>
        <script>
            simple_chart_config = {
                chart: {
                    container: "#tree-simple"
                },

                nodeStructure: {
                    text: { name: "{{rodoslov.rodonacelnik.ime.value}}",
                            {% for titulaR in rodoslov.rodonacelnik.titule %}
                            titula:    "{{titulaR.tip}},{{titulaR.teritorija.nazivTeritorije}},{{titulaR.teritorija.pocetakVladavine.value}} - {{titulaR.teritorija.krajVladavine.value}} ",
                            {%endfor%}
                     },
                     image: "{{rodoslov.rodonacelnik.slika}}",
                    children: [
                        {% for vladar in rodoslov.rodonacelnik.potomci %}
                        {
                            text: { name: "{{vladar.ime.value}}",
                                    {% for titulaV in vladar.titule %}
                                    titula: "{{titulaV.tip}}, {{titulaV.teritorija.nazivTeritorije}},{{titulaV.teritorija.pocetakVladavine.value}}-{{titulaV.teritorija.krajVladavine.value}}",
                                    {% endfor %}
                             },
                            image: "{{vladar.slika}}",
                            children:[
                                {% for vladar1 in vladar.potomci %}
                                    {
                                        text: { name: "{{vladar1.ime.value}}",
                                                {% for titulaV in vladar1.titule %}
                                                    titula: "{{titulaV.tip}}, {{titulaV.teritorija.nazivTeritorije}},{{titulaV.teritorija.pocetakVladavine.value}}-{{titulaV.teritorija.krajVladavine.value}}",
                                                {% endfor %}
                                         },
                                         image: "{{vladar1.slika}}",
                                    },
                                {% endfor %}
                            ]
                        },
                        {% endfor %}
                    ]
                }
            };

            var my_chart = new Treant(simple_chart_config);
        </script>


    <form action="/action_page.php">
        Ime: <input type="text" name="fname"><br>
                    <input type="submit" value="Submit">
    </form>
    </body>
</html>
