<!DOCTYPE html>
<html>
    <head>
        <title>Rodoslov</title>
        <link rel="stylesheet" type="text/css" href="Treant.css">
        <script src="Treant.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.js"
                 integrity="sha256-MPXjTSEImVJI1834JAHubdK7Lts1VTUPJmCQ9zKAjyA="
                crossorigin="anonymous"></script>
    </head>

    <body>
        <p>{{rodoslov.title}}</p><br/><br/>
        <div id="tree-simple" style="height: 600px; margin: 5px; width: 900px;"> </div>
        <script>
            simple_chart_config = {
                chart: {
                    container: "#tree-simple"
                },

                nodeStructure: {
                    text: { name: "{{rodoslov.rodonacelnik.ime.label}}" },
                    image: "http://flat-icon-design.com/f/f_business_28/s256_f_business_28_0bg.png",
                    children: [
                        {
                            image: "http://flat-icon-design.com/f/f_object_167/s256_f_object_167_0bg.png"
                        },
                        {
                            image: "http://flat-icon-design.com/f/f_object_80/s256_f_object_80_0bg.png",
                                children: [
                                    {
                                        image: "http://flat-icon-design.com/f/f_object_78/s256_f_object_78_0bg.png"
                                    },
                                    {
                                        image: "http://flat-icon-design.com/f/f_object_114/s256_f_object_114_0bg.png",
                                            children: [
                                                {
                                                    image: "http://flat-icon-design.com/f/f_object_67/s256_f_object_67_0bg.png"
                                                }
                                            ]
                                    }
                                ]
                        }
                    ]
                }
            };

            var my_chart = new Treant(simple_chart_config);

        </script>
    </body>
</html>
